<div style="height: 100%">
  <div style="color: red; height: 4em;">{{errorMessage}}</div>
  <div style="color: black; height: 4em;">{{status}}</div>
  <button (click)="saveFile()">Save file</button>
  <br>
  <button (click)="removeFile()">Remove file</button>
  <br>
  <hr>
  <br>
  <button (click)="retrieveCachedFile()">Load from cache</button>
  <div style="height: 3em;">Retrieved URL: {{retrievedUrl}}</div>
  <audio *ngIf="retrievedUrl" [src]="retrievedUrl" controls></audio>
</div>